<wm-partial data-ng-controller="CommonPageController" name="CommonPage"> 
    <wm-view name="loginDialogView" class="dialog-view"> 
        <wm-logindialog modal="true" name="CommonLoginDialog" on-submit="Variables.loginVariable.invoke()" on-error="CommonLoginDialogError($event, $scope)" on-success="CommonLoginDialogSuccess($event, $scope)" closable="false" title="Login" iconclass="wi wi-sign-in">
            <wm-form name="loginform"> 
                <wm-message scopedataset="loginMessage" class="app-login-dialog-message" name="loginmessage"></wm-message> 
                <wm-composite name="usernamefield"> 
                    <wm-label caption="Username" class="col-xs-4 control-label" name="usernamelabel"></wm-label> 
                    <wm-text placeholder="Enter username" class="app-login-dialog-username" name="usernametext" autocomplete="off" autocorrect="off" autocapitalize="off" datavalue="demouser"></wm-text> 
                </wm-composite> 
                <wm-composite name="passwordfield"> 
                    <wm-label caption="Password" class="col-xs-4 control-label" name="passwordlabel"></wm-label> 
                    <wm-text type="password" placeholder="Enter password" class="app-login-dialog-password" name="passwordtext" autocomplete="off" autocorrect="off" autocapitalize="off" datavalue="wavemaker"></wm-text> 
                </wm-composite> 
            </wm-form>   
            <wm-dialogactions name="loginactions"> 
                <wm-button class="btn-primary" caption="Sign in" name="loginbutton"></wm-button> 
            </wm-dialogactions> 
        </wm-logindialog> 
    </wm-view> 
</wm-partial>