<wm-page data-ng-controller="NewTravelPageController" name="page1">
    <wm-mobile-navbar name="mobile_navbar1" title="New Travel" searchbutton="false" defaultview="actionview" show="true" backbutton="true"></wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-segmented-control name="segmented_control1" show="true" on-segmentchange="segmented_control1Segmentchange($scope, $old, $new)">
                <wm-segment-content caption="DOMESTIC" name="domestic_content" show="true">
                    <wm-layoutgrid name="layoutgrid1">
                        <wm-gridrow name="gridrow19">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn25">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn26">
                                    <wm-label caption="Trip Name" width="100%" name="label17" color="#303030"></wm-label>
                                    <wm-text tabindex="1" name="tripName" placeholder="Enter Trip Name"></wm-text>
                                </wm-gridcolumn>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                                <wm-label name="label1" caption="From" width="100%" color="#303030"></wm-label>
                                <wm-label caption="bind:Variables.selectedFromAirport.dataValue.city" width="100%" class="h4" name="fromCity" on-tap="label19Tap($event, $scope)" fontweight="bold" padding="unset unset 0px unset" margin="unset unset 0px unset"
                                show="bind:Variables.selectedFromAirport.dataValue.city != undefined"></wm-label>
                                <wm-text name="fromAirportTextField" tabindex="1" on-focus="fromAirportTextFieldFocus($event, $scope)" datavalue="bind:Variables.selectedFromAirport.dataValue.airportName" placeholder="From Airport" color="#374751"></wm-text>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                                <wm-label caption="To" width="100%" name="label2" color="#303030"></wm-label>
                                <wm-label caption="bind:Variables.selectedToAirport.dataValue.city" width="100%" class="h4" on-tap="label19Tap($event, $scope)" fontweight="bold" padding="unset unset 0px unset" margin="unset unset 0px unset"
                                name="toCity" show="bind:Variables.selectedToAirport.dataValue.city != undefined"></wm-label>
                                <wm-text tabindex="1" name="toAirportTextField" on-tap="toAirportTextFieldTap($event, $scope)" datavalue="bind:Variables.selectedToAirport.dataValue.airportName" placeholder="To Airport" color="#374751"></wm-text>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow3">
                            <wm-gridcolumn columnwidth="5" name="gridcolumn7">
                                <wm-label name="label3" caption="DEPT" class="h4" horizontalalign="center" margin="unset unset 0px unset"></wm-label>
                                <wm-container name="container3" horizontalalign="center">
                                    <wm-label name="label6" caption="bind:Widgets.departureDate.datavalue | toDate: 'dd'" class="h2" width="35%" fontweight="bold"></wm-label>
                                    <wm-label name="label7" caption="bind:Widgets.departureDate.datavalue | toDate: 'MMMM'"></wm-label>
                                    <wm-date name="departureDate" id="date1" showbuttonbar="false" required="true" mindate="bind:Variables.CurrentDate.dataSet.dataValue | toDate: 'yyyy-MM-dd'" maxdate="bind:Variables.MaxDate.dataSet.dataValue  | toDate: 'yyyy-MM-dd'"
                                    datavalue="bind:Variables.CurrentDate.dataSet.dataValue | toDate: 'yyyy-MM-dd'"></wm-date>
                                </wm-container>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="2" name="gridcolumn8"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="5" name="gridcolumn9">
                                <wm-label name="label4" caption="RETURN" class="h4" horizontalalign="center" margin="unset unset 0px unset"></wm-label>
                                <wm-container horizontalalign="center" name="container4">
                                    <wm-label caption="bind:Widgets.returnDate.datavalue | toDate: 'dd'" class="h2" width="35%" name="label8" fontweight="bold"></wm-label>
                                    <wm-label caption="bind:Widgets.returnDate.datavalue | toDate: 'MMMM'" name="label9"></wm-label>
                                    <wm-date name="returnDate" datavalue="bind:Widgets.departureDate.datavalue" outputformat="yyyy-MM-dd" mindate="bind:Widgets.departureDate.datavalue" maxdate="bind:Variables.MaxDate.dataSet.dataValue  | toDate: 'yyyy-MM-dd'"></wm-date>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow4">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn6" horizontalalign="center">
                                <wm-button class="btn-default" caption="Economy" type="button" name="classButton" horizontalalign="left" on-tap="Widgets.class_selection_dialog.open()" bordercolor="#ccc" borderstyle="solid" borderwidth="0px 0px 1px 0px" padding="unset 2px"
                                iconurl="resources/images/imagelists/seating.png" iconwidth="20" iconheight="20"></wm-button>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn9_1" horizontalalign="center">
                                <wm-button class="btn-default" caption="Stay" type="button" name="stayButton" horizontalalign="left" on-tap="Widgets.stay_selection_dialog.open()" bordercolor="#ccc" borderstyle="solid" borderwidth="0px 0px 1px 0px" padding="unset 2px"
                                iconurl="resources/images/imagelists/favicon.ico" iconwidth="20" iconheight="20"></wm-button>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow5">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn10_1" horizontalalign="center">
                                <wm-button class="btn-default" caption="Billing" type="button" name="billingButton" on-tap="Widgets.billing_selection_dialog.open()" bordercolor="#ccc" borderstyle="solid" borderwidth="0px 0px 1px 0px" padding="unset 2px" iconurl="resources/images/imagelists/billing.png"
                                iconwidth="20" iconheight="20"></wm-button>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow6">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn12" horizontalalign="center">
                                <wm-button class="btn-primary" caption="Create" type="button" name="createDomesticButton" width="90%" on-tap="Variables.createRequest.createRecord()" backgroundcolor="#93D8F5" color="#000000" fontweight="bold" margin="5% unset unset unset"></wm-button>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-segment-content>
                <wm-segment-content caption="INTERNATIONAL" name="international_content" loadmode="after-select">
                    <wm-layoutgrid name="layoutgrid1">
                        <wm-gridrow name="gridrow19">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn25">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn26">
                                    <wm-label caption="Trip Name" width="100%" name="label17"></wm-label>
                                    <wm-text tabindex="1" name="IntltripName" placeholder="Enter Trip Name"></wm-text>
                                </wm-gridcolumn>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                                <wm-label name="label1" caption="From" width="100%"></wm-label>
                                <wm-label caption="bind:Variables.selectedFromIntlAirports.dataValue.city" width="100%" class="h4" on-tap="label19Tap($event, $scope)" fontweight="bold" padding="unset unset 0px unset" margin="unset unset 0px unset"
                                show="bind:Variables.selectedFromIntlAirports.dataValue.city != undefined" name="label21"></wm-label>
                                <wm-text name="fromAirportTextField" tabindex="1" on-focus="fromAirportTextFieldFocus($event, $scope)" datavalue="bind:Variables.selectedFromIntlAirports.dataValue.airportName" placeholder="From Airport"></wm-text>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                                <wm-label caption="To" width="100%" name="label2"></wm-label>
                                <wm-label caption="bind:Variables.selectedToIntlAirports.dataValue.city" width="100%" class="h4" on-tap="label19Tap($event, $scope)" fontweight="bold" padding="unset unset 0px unset" margin="unset unset 0px unset"
                                show="bind:Variables.selectedToIntlAirports.dataValue.city != undefined" name="label22"></wm-label>
                                <wm-text tabindex="1" name="toAirportTextField" on-tap="toAirportTextFieldTap($event, $scope)" datavalue="bind:Variables.selectedToIntlAirports.dataValue.airportName" placeholder="To Airport"></wm-text>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow3">
                            <wm-gridcolumn columnwidth="5" name="gridcolumn7">
                                <wm-label name="label3" caption="DEPT" class="h4" horizontalalign="center" margin="unset unset 0px unset"></wm-label>
                                <wm-container name="container3" horizontalalign="center">
                                    <wm-label name="label6" caption="bind:Widgets.IntldepartureDate.datavalue | toDate: 'dd'" class="h2" width="35%" fontweight="bold"></wm-label>
                                    <wm-label name="label7" caption="bind:Widgets.IntldepartureDate.datavalue | toDate: 'MMMM'"></wm-label>
                                    <wm-date name="IntldepartureDate" showbuttonbar="false" datavalue="bind:Variables.CurrentDate.dataSet.dataValue | toDate: 'yyyy-MM-dd'" required="true" mindate="bind:Variables.CurrentDate.dataSet.dataValue | toDate: 'yyyy-MM-dd'"
                                    maxdate="bind:Variables.MaxDate.dataSet.dataValue  | toDate: 'yyyy-MM-dd'"></wm-date>
                                </wm-container>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="2" name="gridcolumn8"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="5" name="gridcolumn9">
                                <wm-label name="label4" caption="RETURN" class="h4" horizontalalign="center" margin="unset unset 0px unset"></wm-label>
                                <wm-container horizontalalign="center" name="container4">
                                    <wm-label caption="bind:Widgets.IntlreturnDate.datavalue | toDate: 'dd'" class="h2" width="35%" name="label8" fontweight="bold"></wm-label>
                                    <wm-label caption="bind:Widgets.IntlreturnDate.datavalue | toDate: 'MMMM'" name="label9"></wm-label>
                                    <wm-date name="IntlreturnDate" datavalue="bind:Widgets.IntldepartureDate.datavalue" mindate="bind:Widgets.IntldepartureDate.datavalue" maxdate="bind:Variables.MaxDate.dataSet.dataValue  | toDate: 'yyyy-MM-dd'"></wm-date>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow4">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn6" horizontalalign="center">
                                <wm-button class="btn-default" caption="Economy" type="button" name="IntlclassButton" horizontalalign="left" on-tap="Widgets.class_selection_dialog.open()" bordercolor="#ccc" borderstyle="solid" borderwidth="0px 0px 1px 0px"
                                padding="unset 2px" iconurl="resources/images/imagelists/seating.png" iconwidth="20" iconheight="20"></wm-button>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn9_1" horizontalalign="center">
                                <wm-button class="btn-default" caption="Stay" type="button" name="IntlstayButton" horizontalalign="left" on-tap="Widgets.stay_selection_dialog.open()" bordercolor="#ccc" borderstyle="solid" borderwidth="0px 0px 1px 0px" padding="unset 2px"
                                iconurl="resources/images/imagelists/favicon.ico" iconwidth="20" iconheight="20"></wm-button>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow5">
                            <wm-gridcolumn columnwidth="6" name="gridcolumn10_1" horizontalalign="center">
                                <wm-button class="btn-default" caption="Billing" type="button" name="IntlbillingsdButton" on-tap="Widgets.billing_selection_dialog.open()" bordercolor="#ccc" borderstyle="solid" borderwidth="0px 0px 1px 0px" padding="unset 2px"
                                iconurl="resources/images/imagelists/billing.png" iconwidth="20" iconheight="20"></wm-button>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="6" name="gridcolumn29" horizontalalign="center">
                                <wm-button class="btn-default" caption="Visa Type" type="button" iconclass="wi wi-receipt" bordercolor="#ccc" borderstyle="solid" borderwidth="0px 0px 1px 0px" padding="unset 2px" name="visaButton" disabled="false" on-tap="Widgets.visa_selection_dialog.open()"></wm-button>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow6">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn12" horizontalalign="center">
                                <wm-button class="btn-primary" caption="Create" type="button" name="createIntlButton" width="90%" margin="5% unset unset unset" on-tap="Variables.createIntlReq.createRecord()" backgroundcolor="#93D8F5" color="#000000" fontweight="bold"></wm-button>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-segment-content>
            </wm-segmented-control>
            <wm-container name="container1" content="AirportsListing" show="false"></wm-container>
            <wm-container content="InterNationalAirports" show="false" name="internationalContainer"></wm-container>
        </wm-page-content>
    </wm-content>
    <wm-view class="dialog-view" name="class_selection_view" show="false">
        <wm-dialog dialogtype="design-dialog" modal="true" name="class_selection_dialog">
            <wm-layoutgrid name="layoutgrid2">
                <wm-gridrow name="gridrow7">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn10_2" horizontalalign="center">
                        <wm-container name="container7" bordercolor="#d0d0d0" borderstyle="solid" borderwidth="0px 0px 2px 0px">
                            <wm-picture name="picture1" picturesource="resources/images/imagelists/seating.png" width="50px" height="50px"></wm-picture>
                        </wm-container>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow8">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn14" horizontalalign="center">
                        <wm-button class="btn-default" caption="Economy" type="button" name="economyButton" width="80%" on-tap="economyButtonTap($event, $scope)"></wm-button>
                        <wm-button class="btn-default" caption="premium economy" type="button" name="premiumButton" width="80%" on-tap="premiumButtonTap($event, $scope)"></wm-button>
                        <wm-button class="btn-default" caption="business" type="button" name="businessButton" width="80%" on-tap="businessButtonTap($event, $scope)"></wm-button>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-dialogactions name="dialogactions1" show="true"></wm-dialogactions>
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view" name="stay_selection_view" show="false">
        <wm-dialog dialogtype="design-dialog" modal="true" name="stay_selection_dialog">
            <wm-layoutgrid name="layoutgrid2">
                <wm-gridrow name="gridrow7">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn10_2" horizontalalign="center">
                        <wm-container name="container746" bordercolor="#d0d0d0" borderstyle="solid" borderwidth="0px 0px 2px 0px">
                            <wm-picture picturesource="resources/images/imagelists/lodging.png" width="50px" height="50px" name="picture2"></wm-picture>
                        </wm-container>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow8">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn14" horizontalalign="center">
                        <wm-button class="btn-default" caption="Close to Airport" type="button" name="closeToAirportButton" width="80%" on-tap="closeToAirportButtonTap($event, $scope)"></wm-button>
                        <wm-button class="btn-default" caption="Close to Business" type="button" name="closeToBButton" width="80%" on-tap="closeToBButtonTap($event, $scope)"></wm-button>
                        <wm-button class="btn-default" caption="No Hotel Booking" type="button" name="noHotelBookingButton" width="80%" on-tap="noHotelBookingButtonTap($event, $scope)"></wm-button>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-dialogactions name="dialogactions1" show="true"></wm-dialogactions>
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view" name="billing_selection_view" show="false" animation="slideInUp">
        <wm-dialog dialogtype="design-dialog" modal="true" name="billing_selection_dialog">
            <wm-layoutgrid name="layoutgrid2">
                <wm-gridrow name="gridrow7">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn10_2" horizontalalign="center">
                        <wm-container name="container746" bordercolor="#d0d0d0" borderstyle="solid" borderwidth="0px 0px 2px 0px">
                            <wm-picture picturesource="resources/images/imagelists/billing.png" width="50px" height="50px" name="picture3"></wm-picture>
                        </wm-container>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow8">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn14" horizontalalign="center">
                        <wm-button class="btn-default" caption="Client" type="button" name="clientButton" width="80%" on-tap="clientButtonTap($event, $scope)"></wm-button>
                        <wm-button class="btn-default" caption="Company" type="button" name="companyBButton" width="80%" on-tap="companyBButtonTap($event, $scope)"></wm-button>
                        <wm-button class="btn-default" caption="Employee" type="button" name="employeeButton" width="80%" on-tap="employeeButtonTap($event, $scope)"></wm-button>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-dialogactions name="dialogactions1" show="true"></wm-dialogactions>
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view" name="visa_selection_view" animation="slideInUp">
        <wm-dialog dialogtype="design-dialog" modal="true" name="visa_selection_dialog" title="Form" iconclass="wi wi-edit">
            <wm-layoutgrid name="layoutgrid6">
                <wm-gridrow name="gridrow21">
                    <wm-gridcolumn columnwidth="12" horizontalalign="center" name="gridcolumn30">
                        <wm-container bordercolor="#d0d0d0" borderstyle="solid" borderwidth="0px 0px 2px 0px" name="container10">
                            <wm-picture picturesource="resources/images/imagelists/visaImage.png" width="50px" height="50px" name="picture4"></wm-picture>
                        </wm-container>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow22">
                    <wm-gridcolumn columnwidth="12" horizontalalign="center" name="gridcolumn31">
                        <wm-button class="btn-default" caption="B1/B2" type="button" width="80%" name="b1b2Button" on-tap="b1b2ButtonTap($event, $scope)"></wm-button>
                        <wm-button class="btn-default" caption="H1-B" type="button" width="80%" name="h1bButton" on-tap="h1bButtonTap($event, $scope)"></wm-button>
                        <wm-button class="btn-default" caption="L1" type="button" width="80%" name="l1Button" on-tap="l1ButtonTap($event, $scope)"></wm-button>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-dialogactions name="dialogactions4" show="false">
                <wm-button class="btn-secondary" caption="Cancel" on-click="closeDialog()" name="button19"></wm-button>
                <wm-button class="btn-primary" caption="Save" name="button20"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-page>