.wm-app .app-left-panel.slide-over.visible {
    box-shadow: 5em 0 0em rgba(0, 0, 0, 0.7);
    transition: right .3s ease-in;
}
.wm-app .app-mobile-navbar li a:before,
.wm-app .app-mobile-navbar li .btn:before {
    background-color: transparent;
}